*{margin: 0;padding: 0;}
body{
    font-family: 'Ubuntu', sans-serif;
}
.mimoon-color{
    color: orange;
}
.head-section{
     background: url(images/top-banner.png) no-repeat;
}
.all-section{
    display: flex;
    margin-bottom: 5rem;
}
.half-header{
    width: 50%;
    margin-left: 5%;
}
.button-my-profile{
    text-decoration: none;
    color: white;
    background: linear-gradient(orange, rgb(122, 105, 72) );
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.half-header h1{
    font-size: 3.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    letter-spacing: 0.3rem;
}
.half-header h3{
    margin: 3rem 0 1rem 0;
}
.half-header p{
    width: 80%;
    line-height: 2rem;
    margin-bottom: 3rem;
}
.half-header img{
    width: 80%;
}
.mid-section{
    background: url(images/dream-bg.png) no-repeat;
    background-position:right;
}
.third-section{
    width: 40rem;
    margin-left: 5%;
    margin-top: 3%;
    padding: 2rem 0 2rem 2rem;
    -webkit-box-shadow: 0px 0px 28px 8px rgba(0,0,0,0.65); 
box-shadow: 0px 0px 28px 8px rgba(0,0,0,0.65);
}
.third-section h1{
    font-size: 2rem;
    margin-bottom: 3rem;
    letter-spacing: 0.3rem;
}
.third-section h3{
    color: orange;
    padding: 1.5rem 0;
}
.third-section p{
    width: 100%;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}
.third-section-wrapper{
    background: url(images/exp-bg.png) no-repeat;
    background-position:left;
    margin-bottom: 10rem;
}
.border1{
    border-left: 0.7rem solid;
    border-image: linear-gradient(
180deg
, lightsalmon, tomato);
    border-image-slice: 1
}
.border2{
    border-left: 0.7rem solid;
    border-image: linear-gradient(
180deg
, blue, cyan);
    border-image-slice: 1;
}
.exp{
    font-size: 2rem;
    letter-spacing: 0.3rem;
}
.footer p{
    text-align: center;
    margin-bottom: 1rem;
}